In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('src/datasets/companies/Company Information_20190630.xlsm')

<ipython-input-3-e7e9e9fde690>:1: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  df = pd.read_excel('src/datasets/companies/Company Information_20190630.xlsm')

In [4]:
df.Country_Domicile.value_counts()['SG']

1046

In [8]:
df.head()

,U3_Company_Number,Company_Name,Country_Domicile,Ticker,BICS_Sector,GICS_Sector,Prime_Exchange,ID_BB_Unique,ID_ISIN,ID_Sedol1
0,26981,Acuson Corp,US,3471Q US,10005.0,NaN,NaN,EQ0010000700001000,US0051131052,2006675
1,27034,Wyeth LLC,US,WYE US,10005.0,NaN,NaN,EQ0010006500001000,US9830241009,2027104
2,27051,Ampco-Pittsburgh Corp,US,AP US,10011.0,20.0,New York,EQ0010008800001000,US0320371034,2031688
3,27098,Constellation Energy Group Inc,US,CEG US,10014.0,55.0,New York,EQ0010015200001000,US2103711006,2073408
4,27167,Vector Group Ltd,US,VGR US,10005.0,30.0,New York,EQ0010023300001000,US92240M1080,2515803

In [6]:
df.dtypes

U3_Company_Number      int64
Company_Name          object
Country_Domicile      object
Ticker                object
BICS_Sector          float64
GICS_Sector          float64
Prime_Exchange        object
ID_BB_Unique          object
ID_ISIN               object
ID_Sedol1             object
dtype: object

In [31]:
df2 = pd.read_excel('src/datasets/pds/cri_pds.xlsm', skiprows=[0,1,2], header=0)

<ipython-input-31-3e93e0ffae8f>:1: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  df2 = pd.read_excel('src/datasets/pds/cri_pds.xlsm', skiprows=[0,1,2], header=0)

In [32]:
df2.head()

,Company_number,year,month,day,1_month,3_month,6_month,12_month,24_month,36_month,60_month
0,18,1994,9,30,0.000001,0.000006,0.000019,0.000078,0.000417,0.001124,0.003451
1,18,1994,10,31,0.000053,0.000191,0.000491,0.001441,0.004445,0.008161,0.015755
2,18,1994,11,30,0.000047,0.000171,0.000440,0.001287,0.003945,0.007205,0.013808
3,18,1994,12,30,0.000060,0.000213,0.000534,0.001499,0.004358,0.007775,0.014863
4,18,1995,1,31,0.000052,0.000187,0.000470,0.001326,0.003872,0.006927,0.013297

In [33]:
df2.columns.values

array(['Company_number', 'year', 'month', 'day', '1_month', '3_month',
       '6_month', '12_month', '24_month', '36_month', '60_month'],
      dtype=object)

In [ ]:
pd.DataFrame({'name':['X'], 'ticker': ['X'], 'sector': [10005], 'period': ['1994Q3'], 'mean_PD': [0.000019], 'var_PD': []})

In [ ]:
df2.dtypes

In [34]:
df.merge(df2, left_on='U3_Company_Number', right_on='Company_number')

,U3_Company_Number,Company_Name,Country_Domicile,Ticker,BICS_Sector,GICS_Sector,Prime_Exchange,ID_BB_Unique,ID_ISIN,ID_Sedol1,...,year,month,day,1_month,3_month,6_month,12_month,24_month,36_month,60_month
0,3354,Avimo Group Ltd,SG,AV SP,10005.0,NaN,NaN,EQ0012542200001000,SG1A71000859,6069016,...,1992,2,28,0.000001,0.000005,0.000014,0.000055,0.000285,0.000751,0.002310
1,3354,Avimo Group Ltd,SG,AV SP,10005.0,NaN,NaN,EQ0012542200001000,SG1A71000859,6069016,...,1992,3,31,0.000001,0.000005,0.000016,0.000063,0.000316,0.000825,0.002560
2,3354,Avimo Group Ltd,SG,AV SP,10005.0,NaN,NaN,EQ0012542200001000,SG1A71000859,6069016,...,1992,4,30,0.000001,0.000003,0.000010,0.000042,0.000218,0.000577,0.001776
3,3354,Avimo Group Ltd,SG,AV SP,10005.0,NaN,NaN,EQ0012542200001000,SG1A71000859,6069016,...,1992,5,29,0.000001,0.000003,0.000008,0.000036,0.000198,0.000548,0.001749
4,3354,Avimo Group Ltd,SG,AV SP,10005.0,NaN,NaN,EQ0012542200001000,SG1A71000859,6069016,...,1992,6,30,0.000001,0.000003,0.000009,0.000041,0.000232,0.000645,0.002082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147498,195087,Anacle Systems Ltd,SG,8353 HK,10013.0,NaN,Hong Kong,EQ0000000046635015,SG9999015903,N.S.,...,2019,8,30,0.000032,0.000111,0.000273,0.000744,0.002110,0.003736,0.007157
147499,195087,Anacle Systems Ltd,SG,8353 HK,10013.0,NaN,Hong Kong,EQ0000000046635015,SG9999015903,N.S.,...,2019,9,30,0.000043,0.000148,0.000354,0.000927,0.002484,0.004256,0.007867
147500,195087,Anacle Systems Ltd,SG,8353 HK,10013.0,NaN,Hong Kong,EQ0000000046635015,SG9999015903,N.S.,...,2019,10,31,0.000047,0.000163,0.000392,0.001037,0.002829,0.004901,0.009135
147501,195087,Anacle Systems Ltd,SG,8353 HK,10013.0,NaN,Hong Kong,EQ0000000046635015,SG9999015903,N.S.,...,2019,11,29,0.000042,0.000145,0.000348,0.000915,0.002477,0.004276,0.007979
147502,195087,Anacle Systems Ltd,SG,8353 HK,10013.0,NaN,Hong Kong,EQ0000000046635015,SG9999015903,N.S.,...,2019,12,31,0.000027,0.000097,0.000247,0.000727,0.002309,0.004376,0.008886

In [45]:
df.Country_Domicile.value_counts()['SG']

1046

In [26]:
ilocdf2 = pd.read_excel('5yeardata_sgx1.xlsm')

In [29]:
df2.head()

,id,FiscalYear,CompanyName,TradingCode,DateOfNumberOfEmployeesInformation,NumberOfEmployees,IncorporatedIn,CurrentFiscalYearEnd,WebsiteAddress,Contact,CompanyInformation,Industory3,Industory2,Industory1,Financial_Statements_1,Period Ended,Period Length,Source,Revenue,Total Revenue,"Selling/General/Admin. Expenses, Total",Depreciation/Amortisation,Unusual Expense (Income),"Other Operating Expenses, Total",Total Operating Expense,Operating Income,"Interest Inc.(Exp.),Net-Non-Op., Total","Other, Net",Net Income Before Taxes,Provision for Income Taxes,Net Income After Taxes,Net Income Before Extra. Items,Net Income,Income Available to Com Excl ExtraOrd,Income Available to Com Incl ExtraOrd,Diluted Net Income,Diluted Weighted Average Shares,Diluted EPS Excluding ExtraOrd Items,DPS - Common Stock Primary Issue,Diluted Normalised EPS,Financial_Statements_2,Cash,Short Term Investments,Cash and Short Term Investments,"Accounts Receivable - Trade, Net","Total Receivables, Net",Prepaid Expenses,"Other Current Assets, Total",Total Current Assets,"Property/Plant/Equipment, Total - Gross","Accumulated Depreciation, Total","Property/Plant/Equipment, Total - Net","Goodwill, Net","Intangibles, Net",Long Term Investments,Total Assets,Accounts Payable,Accrued Expenses,Notes Payable/Short Term Debt,"Other Current liabilities, Total",Total Current Liabilities,Total Long Term Debt,Total Debt,Deferred Income Tax,"Other Liabilities, Total",Total Liabilities,"Common Stock, Total",Retained Earnings (Accumulated Deficit),Treasury Stock - Common,Unrealised Gain (Loss),"Other Equity, Total",Total Equity,Total Liabilities & Shareholders' Equity,Total Common Shares Outstanding,"Tangible Book Value per Share, Common Eq",Financial_Statements_3,Net Income/Starting Line,Depreciation/Depletion,Non-Cash Items,Cash Taxes Paid,Changes in Working Capital,Cash from Operating Activities,Capital Expenditures,"Other Investing Cash Flow Items, Total",Cash from Investing Activities,Total Cash Dividends Paid,"Issuance (Retirement) of Stock, Net",Cash from Financing Activities,Foreign Exchange Effects,Net Change in Cash,Financial_Statements_4,Return on Assets (ROA),Return on Equity (ROE),Operating Margin,Net Profit Margin,Asset Turnover,Current Ratio,Quick Ratio,Debt / Equity,EBITDA,Cash from Operations/Interest expenses,EBITDA/Interest,Debt/EBITDA,YoT Sales Growth,CAGR of Total Sales,Assets/ Equity (Gearing),Debt/Equity (gearing),Contingent Liability/Total Assets,Free Cash Flow to Firm (Interest +Debt Repayments during the year),Current Asset/Current Liabilities,COS,Average number of days to pay suppliers Average Trade Payables/Cost of Sales*365,Average number of days of Holding Inventroy Average Inventory on Hand /Cost of Sales*365,Average number of days of Holding Trade Debtors Average Trade Debtors on Hand /Sales*365,Gross Profit/Sales,Net Profit/Sales,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119
3331,3379,2017.0,Nomura Yen1k,N33,2020-03-31,26629,JPN on 24 Dec 1925,2021-03-01 00:00:00,http://www.nomura.com/,\n 1-9-1 Nihonbashi\n Chuo-ku\n ...,Nomura is a leading financial services group a...,NaN,Investment Banking & Brokerage Services,Banking & Investment Services,Income Statement,2017-03-31,12 Months,Yuho,1715516,1715516.00,871107,-,-,209295,1392721.00,322795.00,1.0,-,322795.00,80229,242566.00,239617.00,239617.00,239617.00,239617.00,239475.00,3647.73,65.65,20,65.65,Balance Sheet,-,-,2744632,146268,1223041,-,227456,-,-,-,349696,-,104821,35956932,42852078,-,397605,20398914,3047077,-,7195408,27594322,-,8969283,40062162,594493,1663234,-182792,20344,13308,2789916,42852078,3528.43,760.99,Cash Flows,242566,70928,1174177,47482,-205174,1305025,-312880,194829,-118051,-42833,-60937,-2130644,4249,-939421,Ratios,0.006,0.087,0.188,0.141,0.041,-,-,9.891,322795.00,-1305025.00,-322795.00,85.485593,NaN,NaN,15.359630,NaN,NaN,0.010544,NaN,NaN,NaN,NaN,NaN,0.188162,0.188162,NaN,NaN,NaN,NaN
3330,3378,2016.0,Nomura Yen1k,N33,2020-03-31,26629,JPN on 24 Dec 1925,2021-03-01 00:00:00,http://www.nomura.com/,\n 1-9-1 Nihonbashi\n Chuo-ku\n ...,Nomura is a leading financial services group a...,NaN,Investment Banking & Brokerage Services,Banking & Investment Services,Income Statement,2016-03-31,12 Months,Yuho,1723096,1723096.00,1002285,-,-,228238,1557938.00,165158.00,1.0,-,165158.00,22596,142562.00,131550.00,131550.00,131550.00,131550.00,131426.00,3700.39,35.52,13,35.52,Balance Sheet,-,-,3672893,208360,1364968,-,225950,-,-,-,355507,-,110532,33340197,41090167,-,389338,19015211,2377186,-,8129559,27144770,-,8435858,38389928,594493,1516577,-148517,24887,20093,2700239,41090167,3608.39,717.69,Cash Flows,142562,79394,227718,118580,788698,1238372,-324722,301011,-23711,-82783,-19431,986387,-40195,2160853,Ratios,-,-,0.096,0.083,-,-,-,10.053,165158.00,-1238372.00,-165158.00,164.356374,0.004418,0.150802,15.217233,NaN,NaN,-0.049869,NaN,NaN,NaN,501.014756,37.560072,0.095850,0.095850,NaN,NaN,NaN,NaN
1270,1274,2016.0,Global Palm Res,BLW,2008-12-31,511,SGP on 13 Nov 2009,-,http://www.gprholdings.com,\n 105 Cecil Street\n #24-01\n ...,The Company was incorporated in Singapore on 1...,NaN,Food Processing,Food & Beverages,Income Statement,2016-12-31,12 Months,ARS,385738,385737.76,41338,973.04,4212.38,-4697.73,315862.21,69875.55,1.0,-,69875.55,21381.4,48494.13,46423.26,46423.26,46423.26,46423.26,46423.26,202.12,229.68,280.04,244.14,Balance Sheet,55719,317413,373132,5374.35,38339.7,459.95,2695.07,465809,402867,-164025,238842,-,604.43,-,764200,22959.2,10067.5,0,31900.2,64991.5,95.89,160.44,3253,39669.5,121842,660382,-99485,-,-,81461.7,642358,764200,199.78,3212.24,Cash Flows,69875.6,17922.8,-11013,17453.6,28191.5,104977,-21329.8,489.47,-20840.3,-7950.4,-10246.9,-19560,-11140,53436.6,Ratios,-,-,0.181,0.126,-,7.167,6.38,0,69875.55,-104976.85,-69875.55,0.002296,NaN,NaN,1.189679,NaN,NaN,320.286703,7.167222,NaN,NaN,NaN,NaN,0.181148,0.181148,NaN,NaN,NaN,NaN
2074,2086,2020.0,Samko Timber,E6R,2007-08-31,12685,SGP on 26 Dec 2005,-,http://www.sampoernakayoe.co.id,\n 7500A Beach Road\n #08-305/30...,"Commencing its operations in 1978, Samko Timbe...",NaN,Forest & Wood Products,Applied Resources,Income Statement,2020-12-31,12 Months,PRESS,3194734,3194734.00,488001,-,-,-95322,3212559.00,-17825.00,1.0,-,-17825.00,19076,-36901.00,-91997.00,-91997.00,-91997.00,-91997.00,-91997.00,2384.84,-38.58,-,-73.61,Balance Sheet,-,-,30322,453082,453082,93999,11608,1531077,-,-,1039876,-,-,-,2755658,451855,-,-,74186,1823407,228614,1525980,75871,296521,2684170,539028,-467540,-,-,-,71488,2755658,2384.84,29.98,Cash Flows,-17825,123702,11843,24535,-17254,100466,-58141,2338,-55803,-,-,-27901,86,16848,Ratios,-0.014,-0.684,-0.006,-0.012,1.222,0.84,0.323,21.346,-17825.00,-100466.00,17825.00,-85.608976,NaN,NaN,38.547141,NaN,NaN,-0.045255,0.839679,NaN,NaN,NaN,NaN,-0.005579,-0.005579,NaN,NaN,NaN,NaN
2071,2083,2017.0,Samko Timber,E6R,2007-08-31,12685,SGP on 26 Dec 2005,-,http://www.sampoernakayoe.co.id,\n 7500A Beach Road\n #08-305/30...,"Commencing its operations in 1978, Samko Timbe...",NaN,Forest & Wood Products,Applied Resources,Income Statement,2017-12-31,12 Months,ARS,3462562,3462562.00,460240,-,-2287,38359,3491501.00,-28939.00,1.0,-,-28939.00,-56149,27210.00,30092.00,30092.00,30092.00,30092.00,30092.00,2374.05,12.68,-,12.05,Balance Sheet,-,-,33905,269131,269131,35176,42827,936094,-,-,553760,-,-,-,1676243,283433,-,0,223731,1154286,181062,828184,-,254324,1594489,2501056,-2433784,-,-,14482,81754,1676243,2374.05,34.44,Cash Flows,-28939,88997,128705,15939,-88620,100143,-37478,1122,-36356,-,-,-102245,233,-38225,Ratios,0.017,0.417,-0.008,0.008,2.135,0.811,0.33,10.13,-28939.00,-100143.00,28939.00,-28.618266,NaN,NaN,20.503498,NaN,NaN,0.034310,0.810972,NaN,NaN,NaN,NaN,-0.008358,-0.008358,NaN,NaN,NaN,NaN

In [28]:
pd.set_option("display.max_columns", None)

In [32]:
def foo(df):
    df.loc[:, 'new_col'] = 1
    return df

In [33]:
foo(pd.DataFrame({'a':[0,2]}))

   a  new_col
0  0        1
1  2        1

In [6]:
df2.year.max()

2019